<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Give a Vote</title>
    <script src="/js/admin.js" defer></script>
</head>
<body>
   <h1>Give a Vote</h1> 

   <div id="polls">
    {{#each cases}}
      <div class="poll">{{this.name}}</div>
    {{/each}}

  </div>

<hr>
<div id="form">
    <form action="/poll/add" method="POST">
      <input type="text" name="name" placeholder="Enter name" autofocus>
      <button class="btn" id="addBtn" >Add</button>
    </form>
</div>
<hr>
<div id="admin">

  <button class="btn" id="deleteBtn">Delete all</button>
  <button class="btn" id="saveDbBtn">Save Database to File</button>

</div>

</body>
</html>