<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{title}}</title>
</head>
<body>
    {{>header}}

    <form action="/jokes/edit" method="POST">
        <input type="hidden" name="id" value="{{joke.id}}">
        <label for="joke">Joke:</label>
        <textarea name="joke" rows="4" cols="50">{{joke.joke}}</textarea> <br><br>
        <label for="stars">Stars:</label>
        <input type="text" name="stars"value="{{joke.stars}}">
        <br><br>
        <button>Update</button>
    </form>
    
</body>
</html>