<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/clientApp.js" defer></script>
    <title>{{title}}</title>
</head>
<body>
    {{>header}}

    <input type="text" id="searchField" placeholder="Enter search" autofocus>

    <div id="resultsDiv">
    </div>
    
</body>
</html>