    <header>
        <h1> {{title}}</h1>
    <nav>
        <a href="/">Fremside</a>
        <a href="/visitForm">Legg til besøk</a>
        <a href="/adminForms">Admin</a>
        <a href="/oppgaven.html">Oppgaven</a>
    </nav>
    
    <hr>
    </header>