body{
    color: white;
    background-color: black;
    max-width: 650px;
    padding: 10px;
    margin: 0 auto;
}

.joke {
    background-color: rgb(91, 91, 91);
    margin: 20px;
    padding: 6px;
}

.joke h2 {
    margin: 0px;
}

a {
    display: inline-block;
    text-decoration: none;
    color: white;
    margin: 10px;
    background-color: rgb(46, 46, 46);
    padding: 7px;
}

a:hover{

    background-color: rgb(84, 84, 84);

}