<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{title}}</title>
</head>
<body>
    {{>header}}

    <div class="content">
        {{#each jokes}}
            <div class="joke">
                <p>{{this.joke}}</p>
                <p>Stars: {{this.stars}}</p>
                <a href="/jokes/editForm?id={{this.id}}">Edit</a>
            </div>
        {{/each}}
    </div>
    
</body>
</html>