    <header>
        <h1> {{title}}</h1>

    <nav>
        <a href="/">Fremside</a>
        <a href="/about">About</a>
        <a href="/static_site.html">Statisk side</a>
        <a href="/form.html">HTML-Skjema</a>
  
    </nav>

    </header>